.Air-bnb-like-slider :global .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: white !important;
  opacity: 1 !important;
}

.Air-bnb-like-slider :global .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.4) !important;
}

.Air-bnb-like-slider :global .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  transform: scale(1) !important;
}

.Air-bnb-like-slider
  :global
  .swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet-active-main {
  transform: scale(1) !important;
}

.Air-bnb-like-slider
  :global
  .swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet-active-prev {
  transform: scale(0.8) !important;
}

.Air-bnb-like-slider
  :global
  .swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet-active-prev-prev {
  transform: scale(0.6) !important;
}

.Air-bnb-like-slider
  :global
  .swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet-active-next {
  transform: scale(0.8) !important;
}

.Air-bnb-like-slider
  :global
  .swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet-active-next-next {
  transform: scale(0.6) !important;
}
