.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #03d6bb;
  color: #03d6bb;
  animation: dot-flashing 700ms infinite linear alternate;
  animation-delay: 300ms;
}
.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #03d6bb;
  color: #03d6bb;
  animation: dot-flashing 700ms infinite alternate;
  animation-delay: 0s;
}
.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #03d6bb;
  color: #03d6bb;
  animation: dot-flashing 700ms infinite alternate;
  animation-delay: 700ms;
}

@keyframes dot-flashing {
  0% {
    background-color: #03d6bb;
  }
  50%,
  100% {
    background-color: #b9fff6;
  }
}
