.Dashboard-page-slider :global .swiper-pagination {
  position: static !important;
  z-index: 1 !important;
}

.Dashboard-page-slider :global .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 20px !important;
  border-radius: 5px !important;
  background: #000 !important;
  opacity: 1 !important;
}

.Dashboard-page-slider :global .swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
  border-radius: 99999999 !important;
  background: #b1b1b1 !important;
  opacity: 1 !important;
  transition-property: width;
  transition-duration: 200ms;
}
